* {
  margin: 0;
  padding: 0;
}
.header-info {
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
}

.left-header {
  width: 50%;
  color: grey;
}

.left-header h2 {
  margin-top: 20px;
}

.header-text {
  margin-top: 20px;
  width: 80%;
  font-size: 12px;
}

.right-header {
  width: 50%;
}

.btn-radio {
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.icons-header-info {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.card-header {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #36c1f6;
  margin: 5px;
  border-radius: 5px;
}

.card-header img {
  width: 35px;
  padding-top: 10px;
  display: flex;
  margin: auto;
}

.card-header p {
  font-size: 10px;
  text-align: center;
  color: white;
}
